@import "reset.css";

*,
*:after,
*:before {
    box-sizing: border-box;
}

a,
a:hover,
a:focus {
    text-decoration: none !important;
    color: inherit;
}

.clearFix:after {
    display: table;
    clear: both;
    content: "";
}

ul {
    margin: 0;
}

button {
    border: none;
    background-color: inherit;
}
