@import "reset.css";

:root {
    --black-color: #000;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

a,
a:hover,
a:focus {
    text-decoration: none !important;
    color: inherit;
}

.clearFix:after {
    display: table;
    clear: both;
    content: "";
}

ul,
p {
    margin: 0;
}

button {
    border: none;
    background-color: inherit;
}
